@import url(default-settings.css);

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0px;
    padding: 50px;

    font: var(--font1);
    font-weight: 900;
    font-style: normal;
    font-size: 56px;
}

.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
}
.videos-div{
    display: flex;
    flex-direction: column;
}

iframe{
    width: 981px;
    height: 552px;
    margin: 10px;
}
