body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0px;
    padding: 50px;
}

.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

iframe{
    width: 981px;
    height: 552px;
    margin: 10px;
}
